Social Network
<div ng-if="authService.isLoggedIn()" class="user-area">
  <div class="header-profile-picture"></div>
  <span>{{authService.getCurrentUser().userName}}</span>
  <a href="#/profile" class="link">Change Profile</a>
  <a href="#/profile/password" class="link">Change Password</a>
  <a ng-click="logout()" class="link">Logout</a>

  <div class="searchBox" ng-controller="SearchController">
    <input type="text" ng-model="searchUser"  ng-change="searchParamschange()" placeholder="Search..."/>
        <div class="searchResults">
          <ul>
              <li ng-repeat="persone in searchUserResult">
                <img ng-src="{{persone.profileImageData}}" alt=""/>
                <span></span>
                  <a href="#/users/{{persone.username}}" class="link">{{persone.name}}</a>
              </li>
              </ul>
        </div>
  </div>
</div>