Social Network
<div ng-if="authService.isLoggedIn()" class="user-area">
    <div>
        <ul class="nav nav-tabs">
            <li class="header-profile-picture"></li>
            <li><span>{{authService.getCurrentUser().userName}}</span></li>
            <li class="dropdown" ng-controller="GetFriendRequestsController">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{friendRequests.length}}<span class="caret"></span></a>
                <ul class="dropdown-menu">

                </ul>
            </li>
            <li><a href="#/profile" class="link">Change Profile</a></li>
            <li><a href="#/profile/password" class="link">Change Password</a></li>
            <li>  <a ng-click="logout()" class="link">Logout</a></li>
        </ul>
    </div>

  <div class="searchBox" ng-controller="SearchController">
    <input type="text" ng-model="searchUser"  ng-change="searchParamschange()" placeholder="Search..."/>
        <div class="searchResults">
          <ul>
              <li ng-repeat="persone in searchUserResult">
                <img ng-src="{{persone.profileImageData}}" alt=""/>
                <span></span>
                  <a href="#/users/{{persone.username}}" class="link">{{persone.name}}</a>
              </li>
              </ul>
        </div>
  </div>
</div>