<div class="box">
    <h2>Change Password</h2>
    <p>
        <label for="oldPassword">Old Password:</label>
        <input type="text" id="oldPassword" ng-model="userData.oldPassword" required />
    </p>
    <p>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" ng-model="userData.newPassword" required />
    </p>
    <p>
        <label for="confirmPassword">New Password:</label>
        <input type="password" id="confirmPassword" ng-model="userData.confirmPassword" required />
    </p>
    <p>
        <a ng-click="login(userData)" class="button">Save Changes</a>
    </p>
</div>