<div id="wrapper">
    <div id="login" class="animate form">
        <form  autocomplete="on">
            <h2>Change Password</h2>
            <p>
                <label for="password" class="youpasswd" data-icon="p"> Old password </label>
                <input id="password" name="oldPassword" ng-model="userData.oldPassword" required="required" type="password" placeholder="Old password" />
            </p>
            <p>
                <label for="password" class="youpasswd" data-icon="p"> New password </label>
                <input id="password" name="newPassword" ng-model="userData.newPassword" required="required" type="password" placeholder="New password" />
            </p>
            <p>
                <label for="password" class="youpasswd" data-icon="p"> Confirm New password </label>
                <input id="password" name="password" ng-model="userData.confirmPassword" required="required" type="password" placeholder="Confirm new password" />
            </p>
            <p class="change_link">
                <a ng-click="changeUserPassword(userData)">Save Changes</a>
            </p>
        </form>
    </div>
</div>