<pagination total-items="ads.numItems" ng-model="adsParams.startPage"
  items-per-page="adsParams.pageSize" ng-change="reloadAds()"
  max-size="9" boundary-links="true">
</pagination>

<ul class="news-feed">
    <li ng-repeat="post in userPosts.posts" class="box" data-id="{{post.id}}">
        <h1>{{post.title}}</h1>
        <div><strong>Date:</strong> {{ad.date | date:'dd-MMM-yyyy'}}</div>
        <div ng-if='ad.imageDataUrl'>
            <strong>Image:</strong><img class="ad-image" ng-src="{{ad.imageDataUrl}}" />
        </div>
        <div><strong>Text:</strong> {{ad.text}}</div>
        <div><strong>Name:</strong> {{ad.ownerName}}</div>
        <div><strong>Email:</strong> {{ad.ownerEmail}}</div>
        <div><strong>Phone:</strong> {{ad.ownerPhone}}</div>
    </li>
</ul>

<div ng-if="userPosts.posts.length==0" class="box no-data">
    No posts found.
</div>
