<div class="posts">
    <ul class="nostyleUL">
        <li ng-repeat="post in newsFeedData">
            <div class="post">
                <div >
                    <div class="panel panel-default">
                        <div class="panel-heading"><a href="#" class="pull-right"><span>{{post.date}}</span></a>
                            <h4><a href="#/users/{{post.author.username}}" class="link">{{post.author.name}}</a></h4></div>
                        <div class="panel-body">
                            <img ng-src="{{post.author.profileImageData}}" class="img-circle pull-right" alt=""/>
                            <hr>
                            <p>{{post.postContent}}</p>
                            <hr>
                            <div ng-if="post.liked">{{post.likesCount}}
                                <img src="../app/img/like.png" alt="likes"/>
                                <a href="#" class="link" ng-click="">Like</a>
                            </div>
                            <div>{{post.totalCommentsCount}}
                                <img src="../app/img/comment.png" alt="comments"/>
                                <a href="" class="comment" ng-click="showHideCommentInput()">Comment</a>
                                <a href="" class="edit"  ng-click="showHideEditInput()">Edit</a>
                                <a href="" class="delete" ng-controller="deletePostController" ng-click="deletePost(post.id)">Delete</a>

                            </div>
                            <form class="Comment">
                                <div class="input-group" ng-if="checked">
                                    <div class="input-group-btn" ng-controller="addCommentController">
                                        <button class="btn btn-default" ng-click="addComment(post.id)"><i class="glyphicon glyphicon-share"></i></button>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Add a comment.." ng-model="commentContent">
                                </div>
                            </form>
                            <form class="EditPost">
                                <div class="input-group" ng-if="checkedEdit">
                                    <div class="input-group-btn" ng-controller="editPostController">
                                        <button class="btn btn-default" ng-click="editPost(post.id)"><i class="glyphicon glyphicon-share"></i></button>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Edit a comment.." ng-model="postEditMessage">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Comments</h4></div>
                        <div class="comments">
                            <ul>
                                <li ng-repeat="comment in post.comments">
                                    <div class="comment">
                                        <img ng-src="{{comment.author.profileImageData}}" alt=""/>
                                        <span>{{comment.date}}</span>
                                        <a href="#/users/{{comment.author.username}}" class="link">{{comment.author.name}}</a>
                                        <span>{{comment.commentContent}}</span>

                                        <div ng-if="comment.liked">{{comment.likesCount}}</div>
                                        <img src="../app/img/like.png" alt="likes"/>
                                        <a href="#" class="link" ng-click="">Like</a>
                                        <div>{{comment.likesCount}}</div>
                                        <img src="../app/img/comment.png" alt="comments"/>
                                        <a href="#" class="comment" ng-click="">Comment</a>
                                        <a href="" class="edit"  ng-click="showHideEditCommentInput()">Edit</a>
                                        <a href="" class="delete" ng-controller="deleteCommentController" ng-click="deleteComment(post.id, comment.id)">Delete</a>

                                        <form class="EditPost">
                                            <div class="input-group" ng-if="checkedEditComment">
                                                <div class="input-group-btn" ng-controller="editCommentController">
                                                    <button class="btn btn-default" ng-click="editComment(post.id, comment.id)"><i class="glyphicon glyphicon-share"></i></button>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Edit a comment.." ng-model="commentEditMessage">
                                            </div>
                                        </form>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </li>
    </ul>
</div>