<div class="users-wall">

    <div class="header" ng-controller="UserWallController">
        <div class="panel panel-default userInfowall ">
            <div class="panel-thumbnail"><img ng-src="{{wallOwner.profileImageData}}" class="img-responsive"></div>
            <div class="panel-body">
                <p class="lead">{{wallOwner.name}}</p>
                <div ng-if="isUserFriend" >
                    <input type='button' value='Friend' class='friend-request-button' disabled>
                </div>
                <div ng-if="isNotUserFriend" ng-controller="FriendRequestController">
                    <input type='button' value='Friend Request' class='friend-request-button' ng-click="sendFriendRequest(wallOwner.username)">
                </div>

            </div>
        </div>
    </div>


    <div class="well post-post" ng-if="isUserFriend" ng-controller="PostController">
        <form class="form-horizontal" role="form">
            <h4>What's New</h4>
            <div class="form-group" style="padding:14px;">
                <textarea class="form-control" placeholder="Update your status" ng-model="postMessage"></textarea>
            </div>
            <button class="btn btn-primary pull-right" type="button" ng-click="addPost(postMessage)">Post</button>
            <ul class="list-inline">
                <li><br></li>
            </ul>
        </form>
    </div>


    <div class="posts" ng-if="isUserFriend">
        <ul class="nostyleUL">
            <li ng-repeat="post in wall">
                <div class="post">
                    <!-- main col right -->
                    <div >
                        <div class="panel panel-default">
                            <div class="panel-heading"><a href="#" class="pull-right"><span>{{post.date}}</span></a>
                                <h4><a href="#/users/{{post.author.username}}" class="link">{{post.author.name}}</a></h4></div>
                            <div class="panel-body">
                                <img ng-src="{{post.author.profileImageData}}" class="img-circle pull-right" alt=""/>
                                <hr>
                                <p>{{post.postContent}}</p>
                                <hr>
                                <div ng-if="post.liked">{{post.likesCount}}
                                    <img src="../app/img/like.png" alt="likes"/>
                                    <a href="#" class="link" ng-click="">Like</a>
                                </div>
                                <div>{{post.totalCommentsCount}}
                                    <img src="../app/img/comment.png" alt="comments"/>
                                    <a href="" class="comment" ng-click="showHideCommentInput()">Comment</a>
                                    <a href="" class="edit"  ng-click="showHideEditInput()">Edit</a>
                                    <a href="" class="delete" ng-controller="deletePostController" ng-click="deletePost(post.id)">Delete</a>
                                </div>
                                <form class="Comment">
                                    <div class="input-group" ng-if="checked">
                                        <div class="input-group-btn" ng-controller="addCommentController">

                                            <button class="btn btn-default" ng-click="addComment(post.id)"><i class="glyphicon glyphicon-share"></i></button>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Add a comment.." ng-model="commentContent">
                                    </div>
                                </form>
                                <form class="EditPost">
                                    <div class="input-group" ng-if="checkedEdit">
                                        <div class="input-group-btn" ng-controller="editPostController">
                                            <button class="btn btn-default" ng-click="editPost(post.id)"><i class="glyphicon glyphicon-share"></i></button>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Edit a comment.." ng-model="postEditMessage">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Comments</h4></div>
                            <div class="comments">
                                <ul>
                                    <li ng-repeat="comment in post.comments">
                                        <div class="comment">
                                            <img ng-src="{{comment.author.profileImageData}}" alt=""/>
                                            <span>{{comment.date}}</span>
                                            <a href="#/users/{{comment.author.username}}" class="link">{{comment.author.name}}</a>
                                            <span>{{comment.commentContent}}</span>

                                            <div ng-if="comment.liked">{{comment.likesCount}}</div>
                                            <img src="../app/img/like.png" alt="likes"/>
                                            <a href="#" class="link" ng-click="">Like</a>
                                            <div>{{comment.likesCount}}</div>
                                            <img src="../app/img/comment.png" alt="comments"/>
                                            <a href="#" class="comment" ng-click="">Comment</a>
                                            <a href="" class="edit"  ng-click="showHideCommentInput()">Edit</a>
                                            <a href="" class="delete" ng-controller="deleteCommentController" ng-click="deleteComment(post.id, comment.id)">Delete</a>

                                            <form class="EditPost">
                                                <div class="input-group" ng-if="checkedEditComment">
                                                    <div class="input-group-btn" ng-controller="editCommentController">
                                                        <button class="btn btn-default" ng-click="editComment(post.id)"><i class="glyphicon glyphicon-share"></i></button>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Edit a comment.." ng-model="postEditMessage">
                                                </div>
                                            </form>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
          <br>
                </div>
            </li>
        </ul>
    </div>

</div>



